body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 25px;
    padding: 28px;
    border-radius: 8px;
    font-size: 30px;
}

.sketchBox {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 22cm;
    width: 22cm;
    border-style: double;
    border-color: black;
}

#item {
   border-style: solid;
   border-width: 2px;
   flex-shrink: 1, 1, auto;
}

.itemHovered {
    background-color: black;
}